.comment-form {
    padding: 0.3rem 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    border: 1px solid darkgray;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* background-image: linear-gradient(to right, #ec008c, #fc6767); */
}

.comment-form h2 {
    padding: 0.8rem 0.8rem;
    text-align: center;
    font-family: 'Bubblegum Sans', cursive;

}

.user-info-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 0.4rem;
}

.user-info {
    padding: 0.2rem 0.5rem;
}

.user-info label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.user-info input {
    height: 2rem;
    width: 100%;
    display: block;
    padding: 0.3rem;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid darkgray;
    color: rgb(54, 54, 54);
}

.user-info input:focus {
    outline: none;
}

.commentbox-container {
    padding: 0rem 1rem;
    margin-top: 0.5rem;
}

.commentbox-container label {
    font-weight: 500;
}

#commentbox {
    width: 100%;
    padding: 0.3rem;
    margin-top: 0.3rem;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid darkgray;
    font-family: 'Roboto', sans-serif;
}

#commentbox:focus {
    outline: none;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.2rem 1rem;
}

.button button {
    padding: 0.7rem;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background-image: linear-gradient(to right, #ec008c, #fc6767);
}