.header {
    height: 3rem;
    background-color: black;
    color: white;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 400;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    font-family: 'Bubblegum Sans', cursive;
}

.menu {
    display: flex; 
    width: 39rem;
    font-weight: 600;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    list-style: none;
}

.menu ul li {
    padding-bottom: 1px;
    color: white;
}

.menu ul li:hover {
    border-bottom: 3px solid #f86fc1;
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 17.5rem;
}

.search input {
    height: 2.2rem;
    padding: 3px;
    border-radius: 2px;
    margin-right: 5px;
    border: none;
    font-size: 1rem;
    background-color: rgb(253, 250, 250);
}

.search input:focus {
    outline: none;
}

.search button {
    height: 2.2rem;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid white;
    color: white;
    background-color: black;
    font-weight: bold;
}

.search button:hover {
    cursor: pointer;
}