.new-article-container {
    margin: 1rem auto;
    width: 65%;
    min-height: calc(100vh - 184px);
    padding: 1.2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.new-article-container > h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Bubblegum Sans', cursive;
    background-image: linear-gradient(to right, #ec008c, #fc6767);
    background-clip: text;
    color: transparent;
}

form > * {
    display: block;
    width: 100%;
}

form > *:not(:last-child) {
    margin-bottom: 0.2rem;
}

form label {
    font-weight: 500;
    font-size: 1.1rem;
}

form input {
    height: 2.3rem;
    font-size: 1rem;
    padding: 0.7rem;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
}

form select {
    height: 2.3rem;
    font-size: 1rem;
    /* padding: 0.7rem; */
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
}

form input:focus {
    outline: none;
}

form > button {
    margin-top: 0.5rem;
    height: 2.4rem;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ec008c, #fc6767);
}

.ql-container {
    min-height: 8rem !important;
}